<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Admin</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out" size="large" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h3 style="text-align: center">Daftar Peminjaman</h3>
  </div>

  <h3>Barang</h3>
  <div *ngFor="let barang of listBarang">
    <div (click)="gotoBarang(barang.id)"
      style="display: flex; flex-direction: row; padding: 8px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 8px; justify-content: space-between; cursor: pointer">
      <img src="assets/user.png" alt="" style="margin-right: 8px; width: 25px; height: 25px;">
      <div style="flex-grow: 1">
        <h3 style="margin: 0px;">{{ barang.nama }}</h3>
      </div>
      <ion-buttons style="align-self: center; align-items: flex-end">
        <ion-icon name="arrow-dropright" size="medium"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <h3>Ruangan</h3>
  <div *ngFor="let ruangan of listRuangan">
    <div (click)="gotoRuangan(ruangan.id)"
      style="display: flex; flex-direction: row; padding: 8px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 8px; justify-content: space-between; cursor: pointer">
      <img src="assets/user.png" alt="" style="margin-right: 8px; width: 25px; height: 25px;">
      <div style="flex-grow: 1">
        <h3 style="margin: 0px;">{{ ruangan.nama }}</h3>
      </div>
      <ion-buttons style="align-self: center; align-items: flex-end">
        <ion-icon name="arrow-dropright" size="medium"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="getData()">
    <ion-fab-button>
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>