<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ebor
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="contact" size="large" (click)="gotoProfile()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h3 style="text-align: center">Daftar Peminjaman</h3>
  </div>

  <h3>Barang</h3>
  <div *ngFor="let barang of listBarang">
    <div (click)="gotoBarang(barang)" style="display: flex; flex-direction: row; padding: 8px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 8px; justify-content: space-between; cursor: pointer">
      <img src="assets/user.png" alt="" style="margin-right: 8px; width: 25px; height: 25px;">
      <div style="flex-grow: 1">
        <h3 style="margin: 0px;">{{ barang.nama }}</h3>
      </div>
      <ion-buttons style="align-self: center; align-items: flex-end">
        <ion-icon name="arrow-dropright" size="medium"></ion-icon>
      </ion-buttons>
    </div>
  </div>

  <h3>Ruangan</h3>
  <div *ngFor="let ruangan of listRuangan">
    <div (click)="gotoRuangan(ruangan)" style="display: flex; flex-direction: row; padding: 8px; border-radius: 8px; border: 1px solid #ccc; margin-bottom: 8px; justify-content: space-between; cursor: pointer">
      <img src="assets/user.png" alt="" style="margin-right: 8px; width: 25px; height: 25px;">
      <div style="flex-grow: 1">
        <h3 style="margin: 0px;">{{ ruangan.nama }}</h3>
      </div>
      <ion-buttons style="align-self: center; align-items: flex-end">
        <ion-icon name="arrow-dropright" size="medium"></ion-icon>
      </ion-buttons>
    </div>
  </div>
</ion-content>
